
body {
  font-family: 'Nanum Myeongjo', serif;
  animation: fadeBackground 1.5s;
  animation-fill-mode: forwards;
  background: #CE5937;
  background: -moz-linear-gradient(left, #e4e3ee 0%, #fff 65%, #fff 100%);
  background: linear-gradient(to right, #e4e3ee 0%, #fff 65%, #fff 100%);
}



header {
  
 display: flex;
  height: 5vh;
  align-items: center;
  justify-content:space-between;
  color:#67648E;
  
  
  font-size: 1vh;
  font-family: 'Nanum Myeongjo', serif;
  border-bottom: solid 1px;
}
h1 {
  margin: 0 0 0px 33.9vw;  
  color: #67648E;
  font-weight: 100;
  
}
h1:hover {
  transform: translateX(150px); 
  transition: ease-in-out 3s;
}
a {
  text-decoration: none;
  display: inline-block;
  margin: 55px;
  padding: 5px;
  font-size: 2vh;
  transition: .6s ease-in-out;
  color:#67648E;
  border: solid 1px white;
  border-top: unset;
  border-bottom: unset;
 
}
span {
  font-size: 3vh;
}
header a:hover {
  border-radius: 5px;
  transition: .4s ease-in-out;
  transition-delay: .2s;
  border: solid 1px #3f34d6;
  border-top: unset;
  border-bottom: unset;
}
.heroSection {
  height: 35vh;
  
  font-size: xx-large;
  font-family: 'Nanum Myeongjo', serif;
  margin: 0 auto;
  line-height: 35vh;  
  border-bottom: solid 1px black;
  display: flex;
  
  justify-content: center;
}

.banner {
  margin: 0 auto;
  
  animation: fadeIn 10s; 

}
#logo {
  z-index: 10;
}

.banner img {
  
  
  width: 30px;
  border-radius: 50%;
  height: 30px;
}

aside{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 5%; /* Stay at the top */
  left: 5%;
  text-align: center;
 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
span {
  animation: fadeIn 10s; 

}
.landingDiv {
  background: -moz-linear-gradient(left, #e4e3ee 0%, #fff 85%, #fff 100%);
  background: linear-gradient(to right, #e4e3ee 0%, #fff 85%, #fff 100%);
  width: 35vw;
  height: 35vh;
  margin: 0 auto;
  margin-top: 5%;
}
.landingDiv img{
  height:350px;
  width: 450px;
}
.landingDiv a{
  padding: 2px;
}
.landingDiv a:hover {
  border: solid 1px #67648E;

}
.landingDiv span {
  font-size: 18px;
  color:#67648E;
  padding: 12px;
  display: inline-block;
  position: absolute;
  margin-left: 3%;
 
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeBackground {
  from { background-color: #67648E; }
  to { background-color: #fff; }
}