
 html {
  font-family: 'B Myeongjo', serif;
  /*animation: fadeBackground 1.5s;*/
  height: 100%;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
  overflow-x: hidden;

  /*animation-fill-mode: forwards;
  background: #CE5937;
 /* background: -moz-linear-gradient(left, #e4e3ee 0%, #fff 65%, #fff 100%);
  background: linear-gradient(to right, #e4e3ee 0%, #fff 65%, #fff 100%);
} */}



header {
  
 display: flex;
  height: 5vh;
  align-items: center;
justify-content: space-between;

  color:#E5E5E5;
  letter-spacing: 3px;
  font-family: 'Nanum Myeongjo', serif;
 position: relative;
  
}


h1 {
   color:#E5E5E5;
   font-weight: 100;
   
   font-family: 'Nanum Myeongjo', serif;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  
}
.logoH {
  border: solid 1px #E5E5E5;
  text-shadow: 4px 4px;
  text-align: center;
  font-size: x-large;
  border-radius: 50%;
  line-height: 27px;
  margin-top: 9.4%;
  margin-right: 4%;
  display: block;
  width: 26px;
  height: 26px;
  font-weight: 100;
  padding: 7px;
  padding-bottom: 7px;
}
.blockspan {
  transform: rotate(270deg);
  margin-left: 5%;
  letter-spacing: 55px;
  opacity: .4;
}
.blockTitle {
  display: flex;
  text-align: left;
  width: 250px;
  margin-left: 5%;
  justify-content: center
}


a {
  text-decoration: none;
  display: inline-block;

  margin: 25px;
  padding: 5px;
  font-size: 18px;
  border: solid 1px transparent;
  transition: .6s ease-in-out;
  color:#E5E5E5;
  border-top: unset;
  border-bottom: unset;
 
}
span {
  font-size: 3vh;
}
 .mainNav a:hover {
  border-radius: 5px;
  transition: .4s ease-in-out;
  transition-delay: .2s;
  border: solid 1px #fff;
  cursor: pointer;
  border-top: unset;
  border-bottom: unset;
}

.mainNav a {
  width:max-content;

}
.heroSection {

 animation: bord 7s;
 width: 70.8%;
 left:15%;
 text-align: left;
 top: 15%;
 position: absolute;
 color: #E5E5E5;
 font-size: xx-large;
 margin: 0 auto;
}

.banner {
  z-index: 100;
  height: 100vh;
   background: transparent;

  animation: fadeIn 10s;
 }
 .banner:hover {
  cursor: pointer;
 }
#logo {
  transform: translateY(500px);
  transition: all 8s;

  opacity: 1;
  z-index: 10;
}

.banner img {
  border-top-left-radius: 158%;
  border-bottom-right-radius: 258%;

  width:100%;

  object-fit: contain;
  
  
}

aside{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 5%; /* Stay at the top */
  left: 5%;
  text-align: center;
 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.carousel-container{
  margin: auto;
  overflow:visible;
  border: solid 1px #E5E5E5;
  height: 550px;
  width: 55%;
  border-radius: 15px;
  margin-top: 15vh;
  
  
}
#disparition{
  display: none;
opacity: 0;
animation: appear 2s; 

}
span {
  animation: fadeIn 10s; 

}
.react-multi-carousel-item{
 margin-left: 15vw;

 
}

.landingDiv {
  transition: ease-in-out 2s;
  
  
  border-radius: 15px;
  position: relative;
  padding-left: 43px;
  margin-top: 3px;
  height: 470px;
  
}
.landingDiv img,embed{
  height:350px;
  width: 450px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
 
}
.landingDiv a, embed{
  
  border:  thick double transparent;
}

.landingDiv a:hover {
  border:  thick double  #daa437;
  transition: 0s;
  transform: none;

}

button:hover {
  cursor: pointer;
  border:  thick double  #daa437;
  
}
.landingDiv:hover {
  background: linear-gradient(to right, #284c4c 10%, #fff 65%, #E2D9B3 100%);

}
.landingDiv a:hover, embed:hover {
  border:  thick double  #daa437;
  transition: 0s;
  transform: none;

}
 .landingDiv button{
  display: block;
  width: 55px;
  height: 30px;
 border: none;
 border-radius: 25px;
 position: absolute;
 bottom: 4%;
 left: 42%;
 
}

button:hover {
  cursor: pointer;
  border:  thick double  #daa437;
  
  
}

.react-multiple-carousel__arrow--left:hover{
 left: 3%;
}
.react-multiple-carousel__arrow--right:hover{
  cursor: pointer;
  position: absolute;
  right: 3%;

}


.mainNav {
  z-index: 10;
  display: flex;

  flex-direction: column;
  margin-top: 6% ;
  padding-bottom:6%;
  text-align: center;

  color:#E5E5E5;
  border-right: solid 1px;
}
.landingDiv span {
  font-size: 18px;
  color:#012b3b;
  padding: 12px;
  display: inline-block;
  position: absolute;
  margin-left: 3%;
 
}
.group {
  display: flex;
  margin: 5vw;
  padding-left: 29vw;
}
.social-buttons {
  display: flex;
  
  border-left: solid 1px #E5E5E5;
  position: absolute;
  top: 15%;
  right: 2%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 32px;
  height: 32px;
  text-decoration: none;
  border-radius: 100%;
  background: #b3d0cc;
  text-align: center;
}
.backgroundContact {
}
.positionz{
  position: absolute;
  z-index: 100;
  opacity: 0;
  width: 105px;
  height: 55px;
  left: 3%;
  top: 58%;


}
.social-buttons:hover {
}
.social-button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 49%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.2s;
}
.social-button:focus, .social-button:hover {
  color: #fff;

}
.social-button:focus::after, .social-button:hover::after {
  width: calc(115%);
  height: calc(115%);

  margin-left: calc(-52.9% );
}
.social-button i,
.social-button svg {
  margin-left: 2px;

  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 25.6px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  border: solid 1px black;

  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  border: solid 1px black;

  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  border: solid 1px black;

  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  border: solid 1px black;

  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);  
  border: solid 1px black;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeBackground {
  from { background-color: #67648E; }
  to { background-color: #fff; }
}


@keyframes appear {
 0% { opacity: 0; }
 80% { opacity: .5; }
 100%{opacity: 1}
}

@keyframes bord {
  0% {border: none}
  100%{border: solid 1px black}
}




